<section id="cta">
	<span class="image featured"><img src="/{{ THEME_STATIC_DIR }}images/pic03.jpg" alt="" /></span>
	<h3>Écoutez le podcast sur votre plateforme préférée !</h3>
	<p>Le podcast <em>Sciences et Conscience</em> est disponible sur la plupart des plateformes, le site de la radio et en flux rss. Sélectionnez votre application préférée ci-dessous ou cliquez sur "en savoir plus" pour plus d'options.</p>
	<ul class="icons">
		<li><a title="Spotify" href="" class="icon"><i class="pi pi-spotify"></i></a></li>
		<li><a title="Deezer" href="" class="icon"><i class="pi pi-deezer"></i></a></li>
		<li><a title="Google Podcast" href="" class="icon"><i class="pi pi-googlepodcasts"></i></a></li>
		<li><a title="Amazon Music" href="" class="icon"><i class="pi pi-amazonmusic"></i></a></li>
		<li><a title="Apple Podcast" href="" class="icon"><i class="pi pi-applepodcast"></i></a></li>
	</ul>
	<ul class="actions special">
		<li><a href="/pages/sabonner.html" class="button alt">En savoir plus</a></li>
	</ul>
</section>