<section class="box special features">
								<h2>Nos partenaires</h2>
	<div class="row">
			<div class="col-4 col-12-narrower">

				<section>
					<header>
						<h3>La Fondation Charpak</h3>
						<img width="100%" src="/{{ THEME_STATIC_DIR }}/images/logo03.jpeg" />
					</header>
					<p>La « Fondation Charpak, l'esprit des sciences », abritée par la Fondation de France, souhaite favoriser le développement de l'esprit scientifique comme l’une des valeurs essentielles de notre époque.</p>
					<a href="https://dons.fondationdefrance.org/CHARPAK/~mon-don" class="button special" target="_blank">En savoir plus</a>
				</section>

			</div>
			<div class="col-4 col-12-narrower">

				<section>
					<header>
						<h3>Cause Commune 93.1 FM</h3>
						<img width="100%" src="/{{ THEME_STATIC_DIR }}/images/logo02.png" />
					</header>
					<p>Radio associative et citoyenne, Cause Commune relaye les initiatives locales de partage des savoirs et de la culture.</p>
					<a href="http://cause-commune.fm" class="button special" target="_blank">En savoir plus</a>
				</section>

			</div>
			<div class="col-4 col-12-narrower">

				<section>
					<header>
						<h3>Le café des sciences</h3>
						<img width="100%" src="/{{ THEME_STATIC_DIR }}/images/logo01.png" />
					</header>
					<p>Le Café des sciences est une communauté qui fédère des acteurs de la médiation scientifique sur différents médias.</p>
					<a href="https://www.cafe-sciences.org" class="button alt" target="_blank">En savoir plus</a>
				</section>

			</div>
		</div>
</section>