<section id="intro" class="box special">
	<header class="major">
		<h2>Sciences et conscience, le podcast qui explore le monde des sciences
		<br />
		et leur place dans la société</h2>
		<p>À l’ère de la post-vérité, la place des sciences ne va pas de soi. Quelles relations entretiennent-elles avec le reste de la société ? Avec la démocratie, l’éducation, les pouvoirs publics, les médias, la philosophie, l’art ?…</p>
		<p>Ce sont ces questions que l’émission Sciences et Conscience porte avec des scientifiques ou des philosophes, experts de leurs domaines respectifs, et auxquelles elle tente de répondre.</p>
		<p><b>Cette émission est soutenue par la Fondation Charpak, l’esprit des Sciences.</b></p>
	</header>
	<span class="image featured"><img src="/{{ THEME_STATIC_DIR }}/images/sciences-et-conscience.jpg" alt="" /></span>
</section>