<!-- CTA -->
<section class="box special">
	<h2>Abonnez-vous à la newsletter !</h2>
	<p>Recevez une alerte à chaque nouvel épisode en vous abonnant à la newsletter.</p>

	<form action="https://manet-formation.us1.list-manage.com/subscribe/post?u=a5f1f03992be78f7c89078736&amp;id=0e8d530899" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div id="mc_embed_signup_scroll" class="row gtr-50 gtr-uniform">
			<div class="col-8 col-12-mobilep">
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Courriel" required>
			</div>
			<div style="position: absolute; left: -5000px;" aria-hidden="true">
				<input type="text" name="b_a5f1f03992be78f7c89078736_0e8d530899" tabindex="-1" value="">
			</div>
			<div class="clear col-4 col-12-mobilep">
				<input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="fit">
			</div>
		</div>
	</form>
</section>